h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #ff9e8f;
}
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}
.calculator{
    height: 490px;
    width: 360px;
    background-color: #ff9e8f; 
    padding: 10px;
    padding-left: 40px;
    border: solid 2px #323130;
    border-radius: 20px;
}

button{
    min-width: 70px;
    margin: 5px;
    padding: 17px 25px 17px 25px;
    border: solid 2px #323130;
    border-radius: 4px;
    font-size: 20px;
}

.textbox{
    margin: 5px;
    height: 100px;
    width: 325px;
    border: solid 2px #323130;
    border-radius: 3px;
    background-color: #f3f3f3;
    font-size: 30px;
    padding-left: 20px;
}

#clear,
#delete{
    height: auto;
    padding: 14px 48px 14px 50px;
}
#clear{
    background-color:#ff359a;
}
#delete{
    background-color: #1da5c3;
}
body{
    background-color: #111310;
}
.simb{
    background-color: #a6ded3;
}